.venue-creation {
  right: 10px;
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.arrow-button:hover {
  transition: 0.4s ease-in-out;
  background-color: #ea9452;
}

.arrow-button.open {
  transform: rotate(180deg);
}

.venue-form {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-top: 10px;
}

.venue-form h3 {
  margin: 0 0 10px;
}

.venue-form form {
  display: flex;
  flex-direction: column;
}

.venue-form form button[type='submit'] {
  margin-top: 10px;
}

.border {
  border: 1px solid black;
}

.form_edit {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 0px auto;
  width: 100%;
  z-index: 40;
}

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.edit-button.open {
  transform: rotate(180deg);
}
